<!doctype html>
<html lang="en">
    <head>
        <!-- <meta http-equiv="refresh" content="3"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
    </head>
    <body class="container bg-light">
        <div class="row mx-0">
            <header style="background-color: #ED9F9F" class="p-3 px-5 d-flex justify-content-between">
                <h3 class="align-self-center fw-bold my-0" style="color: #994C4C; font-family: 'Bitter'">Typo</h3>
                <nav class="navbar navbar-expand-md" style="background-color: #F26EB7">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item px-3 py-0">
                                    <a class="nav-link active fw-bold" aria-current="page" href="#" style="color:
                                        #C33F88">1.
                                        Home</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fw-bold" aria-current="page" href="#" style="color:
                                        #C33F88">2.
                                        About</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fw-bold" aria-current="page" href="#" style="color:
                                        #C33F88">3.
                                        Archives</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fw-bold" aria-current="page" href="#" style="color:
                                        #C33F88">4.
                                        Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <main class="row d-flex justify-content-evenly">
            <div class="col-6 bg-success px-0 bg-light">
                <article class="p-3 mb-2" style="background-color: #A0EDA9;">
                    <h3 style="color: #6BBA78">Getting your stock photos seen</h3>
                    <p style="color: #6BBA78">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
                        laoreet lacinia. Vivamus pellentesque ultrices tempor. Ut consectetur elit neque, et pharetra
                        enim finibus eu. Ut mauris mi, accumsan et vestibulum in, lobortis vitae nibh. Praesent eget
                        fermentum sapien, non viverra metus.</p>
                    <em>
                        <span class="me-4" style="color: #73dd73">17th October 2011</span>
                        <span class="me-4" style="color: #73dd73">Posted by <a href>Articles</a></span>
                        <span class="me-4" style="color: #73dd73"><a href>Continue reading></a></span>
                    </em>
                </article>
                <article class="p-3 mb-2" style="background-color: #A0EDA9;">
                    <h3 style="color: #6BBA78">Getting your stock photos seen</h3>
                    <p style="color: #6BBA78">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
                        laoreet lacinia. Vivamus pellentesque ultrices tempor. Ut consectetur elit neque, et pharetra
                        enim finibus eu. Ut mauris mi, accumsan et vestibulum in, lobortis vitae nibh. Praesent eget
                        fermentum sapien, non viverra metus. Orci varius natoque penatibus et magnis dis parturient
                        montes, nascetur ridiculus mus.</p>
                    <em>
                        <span class="me-4" style="color: #73dd73">17th October 2011</span>
                        <span class="me-4" style="color: #73dd73">Posted by <a href>Articles</a></span>
                        <span class="me-4" style="color: #73dd73"><a href>Continue reading></a></span>
                    </em>
                </article>
                <article class="p-3 mb-2" style="background-color: #A0EDA9;">
                    <h3 style="color: #6BBA78">Getting your stock photos seen</h3>
                    <p style="color: #6BBA78">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
                        laoreet lacinia. Vivamus pellentesque ultrices tempor. Ut consectetur elit neque, et pharetra
                        enim finibus eu. Ut mauris mi, accumsan et vestibulum in, lobortis vitae nibh. Praesent eget
                        fermentum sapien, non viverra metus. Orci varius natoque penatibus et magnis dis parturient
                        montes, nascetur ridiculus mus.</p>
                    <em>
                        <span class="me-4" style="color: #73dd73">17th October 2011</span>
                        <span class="me-4" style="color: #73dd73">Posted by <a href>Articles</a></span>
                        <span class="me-4" style="color: #73dd73"><a href>Continue reading></a></span>
                    </em>
                </article>
                <nav class="d-flex justify-content-between p-3" style="background-color:#EEA1E9">
                    <a href><< Older posts</a>
                    <a href>Newerposts >></a>
                </nav>
            </div>
            <aside class="col-4 h-100" style="background-color: #A1A0EE">
                <section class="p-3 mb-4" style="background-color: #6FBAF3;">
                    <h5 style="color:#57c">About me</h5>
                    <p style="color: #57c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
                        laoreet lacinia. Vivamus pellentesque ultrices tempor. Ut consectetur elit neque, et pharetra
                        enim finibus eu.</p>
                </section>
                <section class="p-3 mb-4" style="background-color: #6FBAF3;">
                    <h5 style="color:#57c">About me</h5>
                    <p style="color: #57c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
                        laoreet lacinia. Vivamus pellentesque ultrices tempor.</p>
                </section>
                <section class="p-3 mb-4" style="background-color: #6FBAF3;">
                    <h5 style="color:#57c">About me</h5>
                    <p style="color: #57c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
                        laoreet lacinia. Vivamus pellentesque ultrices tempor.</p>
                </section>
                <section class="p-3 mb-4" style="background-color: #6FBAF3;">
                    <h5 style="color:#57c">Search</h5>
                    <div class="d-flex"><input class="flex-fill" style="color: #57c" placeholder=" I'm looking for..."/></div>
                </section>
            </aside>
        </main>
        <footer class="p-3 px-5 d-flex justify-content-between pb-3 mt-5" style="background-color: #CBCC80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wordpress"
                viewBox="0 0 16 16">
                <path d="M12.633 7.653c0-.848-.305-1.435-.566-1.892l-.08-.13c-.317-.51-.594-.958-.594-1.48
                    0-.63.478-1.218 1.152-1.218.02 0 .039.002.058.003l.031.003A6.838 6.838 0 0 0 8 1.137 6.855 6.855 0 0
                    0 2.266 4.23c.16.005.313.009.442.009.717 0 1.828-.087 1.828-.087.37-.022.414.521.044.565 0
                    0-.371.044-.785.065l2.5 7.434
                    1.5-4.506-1.07-2.929c-.369-.022-.719-.065-.719-.065-.37-.022-.326-.588.043-.566 0 0 1.134.087
                    1.808.087.718 0 1.83-.087 1.83-.087.37-.022.413.522.043.566 0 0-.372.043-.785.065l2.48
                    7.377.684-2.287.054-.173c.27-.86.469-1.495.469-2.046zM1.137 8a6.864 6.864 0 0 0 3.868 6.176L1.73
                    5.206A6.837 6.837 0 0 0 1.137 8z" />
                    <path d="M6.061 14.583 8.121 8.6l2.109 5.78c.014.033.03.064.049.094a6.854 6.854 0 0
                        1-4.218.109zm7.96-9.876c.03.219.047.453.047.706 0 .696-.13 1.479-.522 2.458l-2.096 6.06a6.86
                        6.86 0 0 0 2.572-9.224z"/>
                        <path fill-rule="evenodd" d="M0 8c0-4.411 3.589-8 8-8 4.41 0 8 3.589 8 8s-3.59 8-8 8c-4.411
                            0-8-3.589-8-8zm.367 0c0 4.209 3.424 7.633 7.633 7.633 4.208 0 7.632-3.424 7.632-7.633C15.632
                            3.79 12.208.367 8 .367 3.79.367.367 3.79.367 8z"/>
                        </svg>
                        <a href>Back</a>
                    </footer>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                        crossorigin="anonymous"></script>
                </body>
            </html>